In [4]:
# === Data summary notebook cell ===
# Works with: pandas, numpy (no extra libs required).
# Set DATASET_PATH to your CSV (e.g., "kenya_agri.csv").

from pathlib import Path
from typing import Union
import pandas as pd
import numpy as np

# ----------------------- config -----------------------
DATASET_PATH = "kenya_agri_synthetic.csv"            # <-- change if needed
TARGET_COL   = "default_or_claim"
SPLIT_COL    = "split"

# Feature groups used in training (will auto-intersect with actual columns)
PARTY_FEATURES = {
    "agritech": {
        "numeric": [
            "farm_area_ha", "input_cost_kes", "agritech_score",
            "mpesa_txn_count_90d", "mpesa_inflow_kes_90d", "eo_ndvi_gs",
        ],
        "categorical": ["crop_primary", "crop_secondary"],
        "boolean": ["irrigated"],
    },
    "bank": {
        "numeric": ["loan_amount_kes", "tenor_months", "interest_rate_pct"],
        "categorical": [],
        "boolean": ["prior_default"],
    },
    "processor": {
        "numeric": ["yield_t_ha", "sales_kes"],
        "categorical": [],
        "boolean": ["processor_contract"],
    },
    "insurance": {
        "numeric": ["climate_risk_index"],
        "categorical": [],
        "boolean": ["insured"],
    },
    "government": {
        "numeric": ["rain_mm_gs", "soil_quality_index"],
        "categorical": ["county"],
        "boolean": ["gov_subsidy"],
    },
}

# Optional derived ratios (computed only if source cols exist)
DERIVED_SPECS = {
    "total_yield_t":        ("farm_area_ha", "yield_t_ha"),            # product
    "farmgate_price_kes_t": ("sales_kes", "total_yield_t"),            # sales / total_yield
    "loan_to_sales":        ("loan_amount_kes", "sales_kes"),          # loan / sales
    "inflow_per_txn":       ("mpesa_inflow_kes_90d", "mpesa_txn_count_90d"), # inflow / txn
}

def load_df(path: Union[str, Path]) -> pd.DataFrame:
    df = pd.read_csv(path)
    # normalize booleans represented as strings
    for c in df.columns:
        if df[c].dtype == object:
            vals = set(str(v).strip().lower() for v in df[c].dropna().unique())
            if vals.issubset({"true","false","0","1"}):
                df[c] = df[c].map(lambda x: str(x).strip().lower()).replace({"true":1,"false":0}).astype("Int64")
    return df

def infer_types(df: pd.DataFrame, target: str) -> tuple[list[str], list[str], list[str]]:
    numeric = df.select_dtypes(include=[np.number]).columns.tolist()
    if target in numeric:
        numeric.remove(target)
    # categorical: object or low-cardinality integer-like that isn't boolean
    cat = df.select_dtypes(include=["object"]).columns.tolist()
    # boolean-ish: exact bool dtype or Int64/float with only {0,1} (ignoring NaN)
    bool_cols = []
    for c in df.columns:
        s = df[c].dropna()
        if s.dtype == bool:
            bool_cols.append(c)
        elif pd.api.types.is_integer_dtype(s) or pd.api.types.is_bool_dtype(s):
            if len(set(s.unique()).difference({0,1})) == 0 and c != target:
                bool_cols.append(c)
    # remove any overlaps
    cat = [c for c in cat if c not in bool_cols and c != target]
    numeric = [c for c in numeric if c not in bool_cols and c != target]
    return numeric, cat, bool_cols

def event_rate(y: pd.Series) -> float:
    y = y.astype(float)
    return float((y == 1).mean())

def safe_ratio(a: pd.Series, b: pd.Series) -> pd.Series:
    with np.errstate(divide="ignore", invalid="ignore"):
        r = a / b
        r.replace([np.inf, -np.inf], np.nan, inplace=True)
        return r

def add_derived(df: pd.DataFrame) -> pd.DataFrame:
    df = df.copy()
    if set(["farm_area_ha","yield_t_ha"]).issubset(df.columns):
        df["total_yield_t"] = df["farm_area_ha"] * df["yield_t_ha"]
    if {"sales_kes","total_yield_t"}.issubset(df.columns):
        df["farmgate_price_kes_t"] = safe_ratio(df["sales_kes"], df["total_yield_t"])
    if {"loan_amount_kes","sales_kes"}.issubset(df.columns):
        df["loan_to_sales"] = safe_ratio(df["loan_amount_kes"], df["sales_kes"])
    if {"mpesa_inflow_kes_90d","mpesa_txn_count_90d"}.issubset(df.columns):
        df["inflow_per_txn"] = safe_ratio(df["mpesa_inflow_kes_90d"], df["mpesa_txn_count_90d"])
    return df

def party_coverage(df: pd.DataFrame, party_map: dict) -> pd.DataFrame:
    rows = []
    cols = set(df.columns)
    for party, spec in party_map.items():
        num = [c for c in spec.get("numeric",[]) if c in cols]
        cat = [c for c in spec.get("categorical",[]) if c in cols]
        boo = [c for c in spec.get("boolean",[]) if c in cols]
        rows.append({
            "party": party,
            "n_numeric_present": len(num),
            "n_categorical_present": len(cat),
            "n_boolean_present": len(boo),
            "total_present": len(num)+len(cat)+len(boo),
        })
    return pd.DataFrame(rows).sort_values("party")

def numeric_summary(df: pd.DataFrame, numeric_cols: list[str]) -> pd.DataFrame:
    if not numeric_cols:
        return pd.DataFrame()
    desc = df[numeric_cols].describe(percentiles=[0.25,0.5,0.75]).T
    desc.rename(columns={"50%":"median"}, inplace=True)
    miss = df[numeric_cols].isna().mean().rename("missing_rate")
    return desc.join(miss)

def boolean_summary(df: pd.DataFrame, bool_cols: list[str]) -> pd.DataFrame:
    rows = []
    for c in bool_cols:
        s = df[c]
        rows.append({
            "column": c,
            "pct_true": float((s == 1).mean(skipna=True)),
            "missing_rate": float(s.isna().mean())
        })
    return pd.DataFrame(rows).set_index("column")

def categorical_summary(df: pd.DataFrame, cat_cols: list[str], top_k: int = 10) -> dict[str, pd.DataFrame]:
    out = {}
    for c in cat_cols:
        vc = df[c].value_counts(dropna=False)
        top = vc.head(top_k).to_frame("count")
        top["fraction"] = top["count"] / len(df)
        out[c] = top
    return out

def missingness_table(df: pd.DataFrame) -> pd.DataFrame:
    miss = df.isna().mean().to_frame("missing_rate")
    miss["n_missing"] = (df.isna().sum())
    miss["dtype"] = [str(df[c].dtype) for c in miss.index]
    return miss.sort_values("missing_rate", ascending=False)

def base_rate_by(df: pd.DataFrame, target: str, group_col: str, min_n: int = 20) -> pd.DataFrame:
    if group_col not in df.columns:
        return pd.DataFrame()
    grp = df.groupby(group_col)[target]
    out = grp.agg(n="count", event_rate=lambda s: float((s==1).mean())).sort_values("n", ascending=False)
    return out[out["n"] >= min_n]

def corr_with_target(df: pd.DataFrame, numeric_cols: list[str], target: str) -> pd.DataFrame:
    if target not in df.columns or not numeric_cols:
        return pd.DataFrame()
    y = df[target].astype(float)
    out = df[numeric_cols].corrwith(y).to_frame("pearson_corr_to_target").sort_values("pearson_corr_to_target", ascending=False)
    return out
def export_excel(tables: dict, path: Union[str, Path]):
    try:
        with pd.ExcelWriter(path) as xw:
            for name, tbl in tables.items():
                if isinstance(tbl, pd.DataFrame) and not tbl.empty:
                    tbl.to_excel(xw, sheet_name=name[:31])
    except Exception as e:
        print(f"[warn] Excel export failed ({e}); writing CSVs instead.")
        outdir = Path(path).with_suffix("")
        outdir.mkdir(exist_ok=True)
        for name, tbl in tables.items():
            if isinstance(tbl, pd.DataFrame) and not tbl.empty:
                (outdir / f"{name}.csv").write_text(tbl.to_csv(index=True))
                (outdir / f"{name}.csv").write_text(tbl.to_csv(index=True))

# ----------------------- run -----------------------
df_raw = load_df(DATASET_PATH).copy()
assert TARGET_COL in df_raw.columns, f"Target column '{TARGET_COL}' not found"

# add deriveds
df = add_derived(df_raw)

# basic counts
n_all = len(df)
n_train = int((df[SPLIT_COL].str.lower() == "train").sum()) if SPLIT_COL in df.columns else np.nan
n_test  = int((df[SPLIT_COL].str.lower() == "test").sum())  if SPLIT_COL in df.columns else np.nan

# type inference
num_cols, cat_cols, bool_cols = infer_types(df, TARGET_COL)

# summaries
overall = pd.DataFrame({
    "n_rows": [n_all],
    "n_train": [n_train],
    "n_test": [n_test],
    "n_features_total": [df.shape[1]],
    "n_numeric": [len(num_cols)],
    "n_categorical": [len(cat_cols)],
    "n_boolean": [len(bool_cols)],
    "event_rate_overall": [event_rate(df[TARGET_COL])],
})
by_split = None
if SPLIT_COL in df.columns:
    by_split = (df.groupby(df[SPLIT_COL].str.lower())[TARGET_COL]
                  .agg(n="count", event_rate=lambda s: float((s==1).mean())))
else:
    by_split = pd.DataFrame()

party_cov = party_coverage(df, PARTY_FEATURES)
num_sum   = numeric_summary(df, num_cols)
bool_sum  = boolean_summary(df, [c for c in bool_cols if c != TARGET_COL])
cat_summ  = categorical_summary(df, cat_cols)
missing   = missingness_table(df)
by_county = base_rate_by(df, TARGET_COL, "county", min_n=20)
corr_t    = corr_with_target(df, [c for c in num_cols if c != TARGET_COL], TARGET_COL)

# display key tables (Jupyter will render them nicely)
print("=== OVERALL ===")
display(overall)
print("\n=== CLASS BALANCE BY SPLIT ===")
display(by_split)
print("\n=== PARTY COVERAGE ===")
display(party_cov)
print("\n=== NUMERIC SUMMARY (incl. derived, if present) ===")
display(num_sum)
print("\n=== BOOLEAN SUMMARY ===")
display(bool_sum)
print("\n=== MISSINGNESS BY COLUMN ===")
display(missing.head(30))
print("\n=== EVENT RATE BY COUNTY (n>=20) ===")
display(by_county.head(20))
print("\n=== CORRELATION (numeric vs target) ===")
display(corr_t.head(30))

print("\n=== TOP CATEGORY LEVELS (first few columns) ===")
for c, tbl in list(cat_summ.items())[:5]:
    print(f"\n[categorical] {c}")
    display(tbl.head(10))

# optional: export to Excel with multiple sheets (or CSVs fallback)
tables_to_export = {
    "overall": overall,
    "class_balance_by_split": by_split,
    "party_coverage": party_cov,
    "numeric_summary": num_sum,
    "boolean_summary": bool_sum,
    "missingness": missing,
    "event_rate_by_county": by_county,
    "corr_with_target": corr_t,
}
export_excel(tables_to_export, "dataset_summary.xlsx")

print("\nSaved summaries to 'dataset_summary.xlsx' (or CSVs in 'dataset_summary/' if Excel writer unavailable).")

=== OVERALL ===

,n_rows,n_train,n_test,n_features_total,n_numeric,n_categorical,n_boolean,event_rate_overall
0,2500,2000,500,32,20,6,6,0.0588

=== CLASS BALANCE BY SPLIT ===

          n  event_rate
split
test    500       0.062
train  2000       0.058

=== PARTY COVERAGE ===

,party,n_numeric_present,n_categorical_present,n_boolean_present,total_present
0,agritech,6,2,1,9
1,bank,3,0,1,4
4,government,2,1,1,4
3,insurance,1,0,1,2
2,processor,2,0,1,3

=== NUMERIC SUMMARY (incl. derived, if present) ===

,count,mean,std,min,25%,median,75%,max,missing_rate
sub_county,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0000
farm_area_ha,2500.0,1.890442,1.198267,0.163000,1.040000,1.647500,2.451000,1.061700e+01,0.0000
rain_mm_gs,2500.0,948.307800,289.373174,245.000000,713.050000,919.850000,1158.400000,1.905700e+03,0.0000
eo_ndvi_gs,2500.0,0.586896,0.149895,0.175000,0.472000,0.597500,0.702000,9.500000e-01,0.0000
soil_quality_index,2500.0,0.569223,0.105016,0.246000,0.499750,0.568000,0.641000,9.120000e-01,0.0000
input_cost_kes,2500.0,66133.026400,43464.300323,14.000000,35103.500000,58505.500000,87006.000000,3.678070e+05,0.0000
sales_kes,2500.0,433157.208400,634291.330657,8054.000000,124339.500000,233936.000000,448483.250000,6.374659e+06,0.0000
yield_t_ha,2500.0,9.701836,16.641033,0.810000,2.026000,3.101500,11.887250,8.000000e+01,0.0000
mpesa_txn_count_90d,2500.0,44.350000,20.182488,0.000000,30.000000,44.000000,58.000000,1.230000e+02,0.0000
mpesa_inflow_kes_90d,2500.0,122293.106400,75891.315383,0.000000,64353.750000,118111.000000,175222.250000,3.696270e+05,0.0000
agritech_score,2500.0,0.580188,0.126394,0.113000,0.493000,0.578000,0.666000,1.000000e+00,0.0000
loan_amount_kes,2500.0,178881.208800,225167.592129,10000.000000,66866.750000,115969.000000,196420.250000,2.272896e+06,0.0000
tenor_months,2500.0,12.124800,7.232299,3.000000,6.000000,12.000000,18.000000,2.400000e+01,0.0000
interest_rate_pct,2500.0,17.973592,3.963321,8.000000,15.317500,18.000000,20.602500,2.800000e+01,0.0000
climate_risk_index,2500.0,0.473242,0.287704,0.018000,0.246000,0.415000,0.736000,9.660000e-01,0.0000
risk_score_internal,2500.0,0.325987,0.156316,0.000000,0.214000,0.315000,0.428000,8.650000e-01,0.0000
total_yield_t,2500.0,18.136154,37.624828,0.189274,2.967688,5.456450,13.616345,4.428686e+02,0.0000
farmgate_price_kes_t,2500.0,42601.850293,22368.229095,3403.775932,29484.851472,35816.391221,55090.159136,1.032834e+05,0.0000
loan_to_sales,2500.0,0.545165,0.443324,0.040300,0.350491,0.432921,0.606337,9.108012e+00,0.0000
inflow_per_txn,2461.0,3992.910246,7915.493907,0.000000,1411.435484,2627.075758,4466.958333,1.812920e+05,0.0156

=== BOOLEAN SUMMARY ===

                    pct_true  missing_rate
column
irrigated             0.1968           0.0
prior_default         0.0868           0.0
processor_contract    0.3608           0.0
insured               0.2520           0.0
gov_subsidy           0.1220           0.0

=== MISSINGNESS BY COLUMN ===

                      missing_rate  n_missing    dtype
sub_county                  1.0000       2500  float64
crop_secondary              0.6592       1648   object
inflow_per_txn              0.0156         39  float64
climate_risk_index          0.0000          0  float64
agritech_score              0.0000          0  float64
gov_subsidy                 0.0000          0     bool
loan_amount_kes             0.0000          0  float64
tenor_months                0.0000          0    int64
interest_rate_pct           0.0000          0  float64
default_or_claim            0.0000          0     bool
risk_score_internal         0.0000          0  float64
processor_contract          0.0000          0     bool
split                       0.0000          0   object
total_yield_t               0.0000          0  float64
farmgate_price_kes_t        0.0000          0  float64
loan_to_sales               0.0000          0  float64
insured                     0.0000          0     bool
record_id                   0.0000          0   object
farmer_id                   0.0000          0   object
mpesa_inflow_kes_90d        0.0000          0  float64
mpesa_txn_count_90d         0.0000          0    int64
yield_t_ha                  0.0000          0  float64
sales_kes                   0.0000          0  float64
input_cost_kes              0.0000          0  float64
soil_quality_index          0.0000          0  float64
irrigated                   0.0000          0     bool
eo_ndvi_gs                  0.0000          0  float64
rain_mm_gs                  0.0000          0  float64
crop_primary                0.0000          0   object
farm_area_ha                0.0000          0  float64

=== EVENT RATE BY COUNTY (n>=20) ===

              n  event_rate
county
Nairobi      68    0.088235
Isiolo       67    0.029851
Busia        66    0.121212
Kitui        66    0.030303
Kwale        63    0.000000
Kirinyaga    63    0.000000
Baringo      62    0.032258
Bungoma      62    0.064516
Nandi        61    0.229508
Marsabit     61    0.016393
Homa Bay     60    0.050000
Trans Nzoia  60    0.033333
Siaya        59    0.084746
Murang'a     59    0.101695
Bomet        58    0.051724
Turkana      58    0.034483
Migori       56    0.017857
Nyamira      55    0.090909
Nyeri        54    0.000000
Meru         54    0.018519

=== CORRELATION (numeric vs target) ===

                      pearson_corr_to_target
risk_score_internal                 0.266692
climate_risk_index                  0.127996
loan_to_sales                       0.084631
tenor_months                        0.055649
mpesa_txn_count_90d                 0.034089
interest_rate_pct                   0.002404
farmgate_price_kes_t               -0.006859
inflow_per_txn                     -0.015103
yield_t_ha                         -0.026036
mpesa_inflow_kes_90d               -0.031461
rain_mm_gs                         -0.046771
soil_quality_index                 -0.047105
total_yield_t                      -0.051427
loan_amount_kes                    -0.071509
sales_kes                          -0.078094
input_cost_kes                     -0.089929
farm_area_ha                       -0.099104
agritech_score                     -0.105712
eo_ndvi_gs                         -0.123846
sub_county                               NaN

=== TOP CATEGORY LEVELS (first few columns) ===

[categorical] record_id

             count  fraction
record_id
rec_0000000      1    0.0004
rec_0001670      1    0.0004
rec_0001663      1    0.0004
rec_0001664      1    0.0004
rec_0001665      1    0.0004
rec_0001666      1    0.0004
rec_0001667      1    0.0004
rec_0001668      1    0.0004
rec_0001669      1    0.0004
rec_0001671      1    0.0004

[categorical] farmer_id

                count  fraction
farmer_id
farmer_0117890      2    0.0008
farmer_0864363      2    0.0008
farmer_0130944      2    0.0008
farmer_0359298      2    0.0008
farmer_1378765      1    0.0004
farmer_0874937      1    0.0004
farmer_1098902      1    0.0004
farmer_0948366      1    0.0004
farmer_1682141      1    0.0004
farmer_0925445      1    0.0004

[categorical] county

           count  fraction
county
Nairobi       68    0.0272
Isiolo        67    0.0268
Kitui         66    0.0264
Busia         66    0.0264
Kwale         63    0.0252
Kirinyaga     63    0.0252
Baringo       62    0.0248
Bungoma       62    0.0248
Nandi         61    0.0244
Marsabit      61    0.0244

[categorical] crop_primary

              count  fraction
crop_primary
maize           682    0.2728
tea             180    0.0720
rice            177    0.0708
sorghum         169    0.0676
dairy-fodder    168    0.0672
potato          167    0.0668
beans           166    0.0664
wheat           162    0.0648
millet          160    0.0640
sugarcane       159    0.0636

[categorical] crop_secondary

                count  fraction
crop_secondary
NaN              1648    0.6592
maize             232    0.0928
sugarcane          74    0.0296
beans              69    0.0276
dairy-fodder       67    0.0268
rice               62    0.0248
sorghum            58    0.0232
horticulture       56    0.0224
wheat              50    0.0200
coffee             50    0.0200

[warn] Excel export failed (No module named 'openpyxl'); writing CSVs instead.

Saved summaries to 'dataset_summary.xlsx' (or CSVs in 'dataset_summary/' if Excel writer unavailable).